<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{{page.description}}">
<meta name="robots" content="{{page.robots}}">
<meta name="keywords" content="{{page.keywords}}">
<meta name="author" content="{{site.seo.author}}">
<title>{{page.title}}</title>
<meta name="theme-color" content="#315e49">
<link rel="icon" href="/edgepress/favicon/favicon.ico" sizes="any">
<link rel="icon" type="image/png" sizes="16x16" href="/edgepress/favicon/favicon-16.png">
<link rel="icon" type="image/png" sizes="32x32" href="/edgepress/favicon/favicon-32.png">
<link rel="icon" type="image/png" sizes="48x48" href="/edgepress/favicon/favicon-48.png">
<link rel="icon" type="image/png" sizes="64x64" href="/edgepress/favicon/favicon-64.png">
<link rel="apple-touch-icon" sizes="180x180" href="/edgepress/favicon/apple-touch-icon.png">
<link rel="canonical" href="{{page.canonical}}">
<meta property="og:type" content="website">
<meta property="og:title" content="{{page.title}}">
<meta property="og:description" content="{{page.description}}">
<meta property="og:url" content="{{page.canonical}}">
<meta property="og:image" content="{{page.image}}">
<meta property="og:image:alt" content="{{site.headerBrand}}">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{page.title}}">
<meta name="twitter:description" content="{{page.description}}">
<meta name="twitter:image" content="{{page.image}}">
<meta name="twitter:image:alt" content="{{site.headerBrand}}">
<link rel="alternate" type="application/atom+xml" href="{{site.feedPath}}" title="{{site.feedLabel}}">
<link rel="stylesheet" href="{{site.stylesheet}}">
<script type="application/ld+json">{{{page.jsonLd}}}</script>
