<header class="site-header {{site.headerClass}}">
  <div class="header-inner">
    <a class="brand {{site.brandClass}}" href="{{site.homePath}}">{{site.headerBrand}}</a>
    <p class="brand-description">{{site.description}}</p>
    <nav class="primary-navigation {{site.primaryNavigationClass}}" aria-label="{{site.mainNavigationLabel}}">{{{site.primaryNavigationHtml}}}</nav>
    <div class="locale-nav {{site.languageNavigationClass}}" role="group" aria-label="{{site.languageLabel}}">{{{site.localeLinksHtml}}}</div>
  </div>
</header>
